.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db,#c66fbc,48%, #f7944d);
}

.form-auth-container,.login-form, .register-form{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:600px){
  .form-auth-container{
    border:1px solid white;
    padding: 4rem;
    border-radius: 10px;
    margin: .5rem;
  }
}

label{
  text-align: left;
  padding: .25rem 0;
}
input{
  border:none;
  padding: .5rem;
  margin: 0.25rem 0;
  border-radius: 10px;
}
.btn-log,.btn-reg{
  border: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 20px;

}